<!-- Layout (blueprint) which will be followed by all the pages in the app -->

<html>
    <head>
        <title>
            <%= title %>
        </title>

        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>

    </head>
    <body>
        <!-- Header section (will be same for all pages)-->
        <%- include('_header') %>

        <main id="layout-main">
            <!-- Main body (the variable part) -->
            <%- body %>
        </main>
      

        <!-- Footer section (will be same for all pages) -->
        <%- include('_footer') %>

        <!-- JS Script in the end -->
        <%- script %>
    </body>
</html>